<h1>My Books</h1>

<% if @books.empty? %>
    <h4>You haven’t borrowed any books.</h4>
<% else %>
    <div class="list-group">
      <% @books.each do |book| %>
          <div class="list-group-item row">
            <%= link_to books_show_path(book.id), :class => "book-details col-md-9" do %>
                <%= image_tag(book.image_link, class: 'book-thumbnail') %>
                <h4><%= book.title %></h4>
                <h6>By <%= book.author %></h6>
            <% end %>
            <div class="return-book col-md-3">
              <div class="center-div">
              <button id="return-book-button" class="btn btn-primary">Return Book</button>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
