<h1>My Books</h1>

<% if @books.empty? %>
    <h4>You haven’t borrowed any books.</h4>
<% else %>
    <div class="list-group">
      <% @books.each do |book| %>
          <%= link_to books_show_path(book.id), :class => "list-group-item" do %>
              <%= image_tag(book.image_link, class: 'book_thumbnail') %>
              <h4><%= book.title %></h4>
              <h6>By <%= book.author %></h6>
              <% if book.copy_available? %>
                  <span class="label label-success"> Available </span>
              <% else %>
                  <span class="label label-danger"> Not Available </span>
              <% end %>
              <div class="return_book_button">
                <button id="borrow_book">Return Book</button>
              </div>
              </div>
              </div>
          <% end %>
          </div>
      <% end %>
<% end %>
