<div class="custom-search center-div">
  <%= form_for(users_path, method: :get) do |f| %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'Please enter a user name' %>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-info" id="search-button">
            <span class="glyphicon glyphicon-search "/>
          </button>
  <% end %>
  </div>
  </div>
</div>
<div class="list-group">
  <% if @users.empty? and @is_search %>
      <h4>No Users found..!!!</h4>
  <% else %>
      <% @users.each do |user| %>
          <a href="#" class="list-group-item">
            <h4><%= user.name %></h4>
          </a>
      <% end %>
  <% end %>
</div>
