<div id="user_profile" class="row">

  <div id="Header_user_profile">
    <span class="glyphicon glyphicon-user"></span>
    <span id="about">About</span>
  </div>
  <div id="user_options" class="col-md-2">
    <ul class="nav nav-tabs nav-pills nav-stacked ">
      <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
      <li><a href="#my_books" role="tab" data-toggle="tab">Borrowed Books</a></li>
      <li><a href="#user_logs" role="tab" data-toggle="tab">Logs</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="tab-content">
      <%= render :partial => 'layouts/user_details', :locals => {user: @user} %>
      <%= render :partial => 'layouts/user_books', :locals => {issued_books_records: @issued_books_records} %>
      <%= render :partial => 'layouts/user_log', :locals => {logs: @logs} %>
    </div>
  </div>
</div>