<div class="list-group">
  <% @books.each do |book| %>
      <a href="#" class="list-group-item">
        <h4 ><%= book.title %></h4>
        <h6 >By <%= book.author %></h6>
      </a>
  <% end %>
</div>