<div id="user_profile" class="row">

  <div id = "Header_user_profile">
    <span class="glyphicon glyphicon-book"></span>
    <span id="about">Add Book</span>
  </div>

  <div id="user_options" class="col-md-2">
    <ul class="nav nav-tabs nav-pills nav-stacked ">
      <li class="active"><a href="#add_by_isbn" onclick="setTagInput()" onload="setTagInput()" data-toggle="tab">ISBN</a></li>
      <li ><a href="#add_manually" onclick="setTagInput()" role="tab" data-toggle="tab">Manually</a></li>
    </ul>
  </div>

  <div  class="col-md-9">
    <div class="tab-content">
      <div class="tab-pane active" id="add_by_isbn">
          <%= render :partial => 'add_book_by_isbn' %>
      </div>
      <div class="tab-pane " id="add_manually">
        <%= render :partial => 'add_book_manually' %>
      </div>
    </div>
  </div>

</div>