<div id="user_profile" class="row">

  <div id="Header_user_profile">
    <div id="user_header_options" class="col-md-4">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#issued_books" onload="setDataTable()" onclick="setDataTable()" data-toggle="tab">
            <span class="glyphicon glyphicon-book"></span>
            Issued Books
          </a>
        </li>
        <li>
          <a href="#add_book" data-toggle="tab">
            <span class="glyphicon glyphicon-book"></span>
            Add Book
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-12">
    <div class="tab-content">
      <div class="tab-pane active" id="issued_books">
        <%= render :partial => 'issued_books' %>
      </div>

      <div class="tab-pane" id="add_book">
        <%= render :partial => 'add_book' %>
      </div>
    </div>
  </div>
</div>