<html>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>403</h2>
        <h3>Forbidden: Access denied.</h3>
        <div class="error-details">Login as admin to access this page.</div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-home"></span> Take Me Home </a>
        </div>
      </div>
    </div>
  </div>
</div>
</html>