<html>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>500</h2>
        <h3>Internal Server Error</h3>
        <div class="error-details">There is a problem with the page you are trying to reach and it cannot be displayed.</div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-home"></span> Take Me Home </a>
        </div>
      </div>
    </div>
  </div>
</div>
</html>