<div id="login-background">
  <% if flash[:sign_in_error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <% flash[:sign_in_error].each do |msg| %>
            <strong><%= msg %></strong>
            <br/>
        <% end %>
      </div>
  <% end %>


  <div class="login-container">
    <div class="login_page">
      <img class = "back_image" src="/assets/library.png" id="library">
      <div class="fb center-div">
        <h2 class = "step_logo_text">STEP LIBRARY </h2>
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>