<h1 class="welcome-heading"><p class = "welcome-text"> WELCOME TO STEP LIBRARY...! </p></h1>
<% if flash[:sign_in_error] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= flash[:sign_in_error] %></strong>
    </div>
<% end %>
<div class="facebook">
<%= render "devise/shared/links" %>
</div>