// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_box {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 50%;
  height: 40px;
  float: left;
  border: 2px solid #000000;
  border-right-width: 0px;
  padding-left: 2%;
}

#search_button {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: transparent;
  height: 40px;
  width: 10%;
  border: 2px solid #000000;
}

.search {
  margin-left: 28%;
  margin-top: 5%;
}

.list-group {
  margin-top: 5%;
}

.list-group-item {
  height: 130px;
}

#borrow_book {
  border-radius: 7px;
  background-color: #E6E6E6;
}

.book_profile{
  align-self: center;
  width: 50%;
  height: 350px;
  margin-left: 20%;
  margin-top: 10%;
  align-items: center;
}

.book_metadata {
  float: left;
  margin-top: 80px;
}

.book_thumbnail {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
}

.book_image {
  width: 250px;
  height: 300px;
  float: left;
  margin: 10px 50px 10px 10px;
}