// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group {
  margin-top: 5%;
}

.list-group-item {
  height: 130px;
}

.book-image {
  margin-top: 10%;
}

.book_profile {
  width: 100%;
  height: 350px;
}

.book_image_section {
  width: 50%;
  height: 100%;
  margin: 0;
  float: left;
  padding: 25px;
}

.book_metadata {
  float: left;
  width: 50%;
  margin-top: 5%;
  padding: 25px;
}

.book-thumbnail {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
}

.book_image {
  width: 250px;
  height: 300px;
  float: right;
}

.view-log {
  height:35px;
  border-color: #dddddd;
  background-color: #E6E6E6;
  color: #07c;
  float: left;
  margin-top: 15%;
  margin-left: 8%;
}
.view-log:hover{
  border-color: #D1D1D1;
  background-color: #f5f5f5
}


.borrow_button {
  float: left;
  margin-top: 15%;
}

#borrow_book {
  border-color: #dddddd;
  background-color: #E6E6E6;
  color: #07c;
  font-family: Arial, sans-serif;
  font-size: 110%;
}

#borrow_book:hover {
  border-color: #D1D1D1;
  background-color: #f5f5f5;
}

.add_books {
  margin-top: 10%;
  width: 30%;
  float: left;
}

.book_details_confirm {
  float: left;
  width: 50%;
  height: 100%;
  margin-top: 4%;
  margin-left: 10%;
  padding: 1%;
  border: solid 1.5px;
  border-color: #29B6F6;
  box-shadow: 5px 5px 5px #B4DAEB;
}

#reject_button {
  float: right;
  color: #CB0404;
  opacity: 0.75;
  font-size: 180%;
  margin-right: 1%;

}

#reject_button:hover {
  color: #ff8c93;
}

.isbn_text_box {
  float: left;
  width: 60%;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn.btn-success.button {
  border-color: #dddddd;
  background-color: #E6E6E6;
  color: #07c;
  font-family: Arial, sans-serif;
  font-size: 110%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.btn.btn-success.button:hover {
  border-color: #D1D1D1;
  background-color: #f5f5f5;
}

#accept_button {
  margin-top: 20%;
  margin-left: 0%;
  width: 50%;
}

#no_of_copies {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  border-color: #D1D1D1;
  background-color: #f5f5f5;
}

.add_book_isbn {
  width: 100%;
  margin-top: 10%;
}

.new_book {
  margin-left: 10%;
  width: 40%;
  float: left;
}

.book_title {
  font-family: Arial, sans-serif;
  font-size: 140%;
  width: 100%;
  height: auto;
  border: 0;
  resize: none;
}

.book_author {
  border: none;
  font-family: Arial, sans-serif;
  font-size: 100%;
}

.book_image_confirm {
  width: 250px;
  height: 300px;
  margin-left: 2%;
  margin-bottom: 5%;
  float: left;
}

.book_confirmation_header {
  margin-bottom: 5%;
  margin-left: 2%;
}

.fetch_book {
  margin-left: 10%;
}

#no_isbn_error {
  float: left;
}

#book_title {
  font-size: 30px;
}

#book_author {
  font-size: 15px;
}

.error {
  color: #EF5350;
}

.error_box {
  border-color: #EF5350;
}

.table-fixed {
  display: none;
}

#header th {
  width: 378px;
}

.table-fixed tbody tr td {
  width: 378px !important;
}

.table-fixed tbody {
  min-height: 35px;
  max-height: 230px;
  overflow-y: auto;
  width: 100%;
  display: block;
}

.table-fixed thead {
  display: block;
  border-color: #dddddd;
  background-color: #E6E6E6;
  color: #07c;
  font-family: Arial, sans-serif;
}

.table-fixed thead tr td {
  width: 100px;
}

.dropdown {
  float: left;
}

.no-records {
  color: #07c;
  font-family: Arial, sans-serif;
  font-size: 110%;
  padding: 15px;
}