.navbar.navbar-default {
    height: 60px;
    background-color: #42A5F5;
}
.glyphicon-home {
    width: 50px;
    font-size: 35px;
    margin-top: -5px;
    margin-left: 15px;
    color: #FFFFFF;
}
.glyphicon.glyphicon-home:hover{
    opacity: 0.75;
}