.navbar.navbar-default {
    height: 60px;
    background-color: #BEBEBE;
}
.glyphicon-home {
    width: 50px;
    font-size: 35px;
    margin-top: -5px;
    margin-left: 15px;
    color: #FFFFFF;
}
.glyphicon.glyphicon-home:hover{
    opacity: 0.75;
}
.facebook{
    border: 1px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 12%;
    margin-bottom: 15%;
    border-style:solid;
    border-width: 1px;
    border-hight: 1px;
    box-shadow: 5px 5px 3px #888888;
}
.user_info {
    display: inline;
    float: right;
    color: #ffffff;
}
.btn.btn-primary.btn-default{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color:#3b5998 ;
    hight:18%
}
.label.label-default{
    background-color: #9d9d9d;
    width:100%
}
.welcome-heading{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 35%;
}
.btn.btn-block.btn-social.btn-lg.btn-facebook{
    width: 30%;
    color: #ffffff;
    margin-top: 15%;
    margin-left: 35%;
    height: 50px;
    margin-right: 20px;
}

.btn-default {
    color: #ffffff;
    background-color: transparent;
    border: none;
    height: 60px;

}

.btn-default:hover, .btn-default:focus, .btn-default:active, .open>.dropdown-toggle.btn-default  {
    background-color: transparent;
    color: #ffffff;

}

.btn .caret {
    margin-left: 5px;
}

.dropdown-menu {
    left: -25px;
}

#link {
    color: mediumblue;
    font-size: large;
    text-decoration: underline;
    margin-left: 48%;
}