.navbar.navbar-default {
    height: 60px;
    background-color: #29B6F6;
}

.glyphicon.glyphicon-home.big-home-icon {
    width: 50px;
    font-size: 35px;
    margin-top: -5px;
    margin-left: 15px;
    color: #FFFFFF;
}

.glyphicon.glyphicon-home:hover {
    opacity: 0.75;
}

.user_info {
    display: inline;
    float: right;
    color: #000000;
}

.btn.btn-primary.btn-default {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #3b5998;
    hight: 18%
}

.welcome-text {
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.btn.btn-block.btn-social.btn-lg.btn-facebook {
    width: 70%;
    color: #ffffff;
    margin-top: 18%;
    height: 25%;
}

#user-options {
    color: #FFFFFF;
    background-color: transparent;
    font-family: Arial, sans-serif;
    font-size: large;
    padding-top: 13%;
}

.dropdown.open {
    background-color: #21B2F1;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .open.dropdown-toggle.btn-default {
    background-color: transparent;
    color: #FFFFFF;

}

.dropdown-menu {
    margin-top: 1%;
}

.glyphicon.glyphicon-triangle-bottom {
    margin-left: 5px;
    align-content: center;
}

.center-div {
    margin: auto;
    width: 55%;
}

.custom-search {
    margin-top: 7%;
}

#search-button {
    border-color: #dddddd;
    background-color: #E6E6E6;
    width: 180%;
}

#search-button:hover {
    border-color: #D1D1D1;
    background-color: #f5f5f5;
}

.glyphicon-search {
    color: #07c;
}

.view-all-div {
    text-align: center;
    margin-top: 4%;
}

#view-all {
    text-decoration: none;
    color: #07c;
    font-family: Arial, sans-serif;
}

#view-all:hover {
    opacity: 0.75;
    background: transparent;
}
/*----------------Result for books -----------------*/
.label-primary {
    background-color: #FFFFFF;
    font-size: 130%;
}

.lable.label-info {
    margin-top: 5%;
}

.label-info {
    font-style: italic;
    font-size: 150%;
    background-color: #FFFFFF;
}

.label {
    color: #080101;
}

.not-available {
    margin-top: 3%;
}

.login-container {
   margin-top: 5%;
}
.logo{
    width: 50%;
    float: left;
    border-right: dotted 1px #000000;

}.fb{
    width: 50%;
    float: left;
    margin-top: 9%;

 }
img#library {
    width: 400px;
}