// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list-group {
  margin-top: 5%;
}


#disable-user-button {
  float: right;
  color: #07c;
  font-size: medium;
  font-family: Arial, sans-serif;
  border-color: #dddddd;
  background-color: #E6E6E6;
}

#disable-user-button:hover {
  border-color: #D1D1D1;
  background-color: #f5f5f5;
}
