<div class="list-group">
  <% if @books.empty? and @is_search %>
      <h4>No result found..!!!</h4>
  <% else %>
      <% @books.each do |book| %>
          <%= link_to books_show_path(book.id), :class => "list-group-item" do %>
              <%= image_tag(book.image_link, class: 'book-thumbnail') %>
              <h4><%= book.title %></h4>
              <h6>By <%= book.author %></h6>
            <% if book.copy_available? %>
                <span class="label label-success"> Available </span>
            <% else %>
                <span class="label label-danger"> Not Available </span>
            <% end %>
          <% end %>
      <% end %>
  <% end %>
</div>