<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href=assets/stylesheets/my_style.css">
</head>
<body>
<% if user_signed_in? %>

    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/" id="home-page-button"><p><span class="glyphicon glyphicon-home"></span></p></a>
        <span class="user_info">
                <%= current_user.name %>
                (<%= current_user.role %>)
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </span>
    </nav>
<% end %>
</body>
</html>